{% extends "../base.html" %}

{% block content %}
<div class="background">
    <br/>
    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111"
           width="100%" id="AutoNumber1">
        <tr>
            <td width="34%">
                <p align="center">
                    <a href="/static/downloads/edicoes/VA_05.rar">
                        <img src="/static/imagens/capas/CapaVA_05.jpg" width="270" height="378" border="0">
                    </a>
                    <br>
                    <font face="Arial" size="2">
                        <a href="/static/downloads/edicoes/VA_05.rar" border="0">Baixar a Edição 05</a>
                    </font>
                    <br>
                    <br>
            </td>
            <td width="34%">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td width="34%">
                <p align="center">
                    <a href="/static/downloads/edicoes/VA_04.pdf">
                        <img src="/static/imagens/capas/CapaVA_04.JPG" width="270" height="378" border="0">
                    </a>
                    <br>
                    <font face="Arial" size="2">
                        <a href="/static/downloads/edicoes/VA_04.pdf" border="0">Baixar a Edição 04</a>
                    </font>
                    <br>
                    <br>
            </td>
            <td width="34%">
                <p align="center">
                    <a href="/static/downloads/edicoes/VA_03.pdf">
                        <img src="/static/imagens/capas/CapaVA_03.JPG" width="270" height="378" border="0">
                    </a>
                    <br>
                    <font face="Arial" size="2">
                        <a href="/static/downloads/edicoes/VA_03.pdf">Baixar a Edição 03</a>
                    </font>
                    <br>
                    <br>
            </td>
        </tr>
        <tr>
            <td width="34%">
                <p align="center">
                    <a href="/static/downloads/edicoes/VA_02.pdf">
                        <img src="/static/imagens/capas/CapaVA_02.JPG" width="270" height="378" border="0">
                    </a>
                    <br>
                    <font face="Arial" size="2">
                        <a href="/static/downloads/edicoes/VA_02.pdf">Baixar a Edição 02</a>
                    </font>
                    <br>
                    <br>
            </td>
            <td width="34%">
                <p align="center">
                    <a href="/static/downloads/edicoes/VA_01.pdf">
                        <img src="/static/imagens/capas/CapaVA_01.JPG" width="270" height="378" border="0">
                    </a>
                    <br>
                    <font face="Arial" size="2">
                        <a href="/static/downloads/edicoes/VA_01.pdf">Baixar a Edição 01</a>
                    </font>
            </td>
        </tr>
    </table>
</div>
{%endblock %}