{% extends "../base.html" %}

{% block content %}
<div class="background">
    <br/>
    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111"
           width="100%" id="AutoNumber1">
        <tr>
            <td width="34%">&nbsp;</td>
            <td width="66%" valign="top">&nbsp;</td>
        </tr>
        <tr>
            <td width="34%" valign="middle">
                <img border="0" src="/static/imagens/multidao.png" align="middle">
            </td>
            <td width="66%" valign="top">
                <p align="right"><b><font face="Arial">Inscreva-se Gratuitamente em nosso grupo Visão Ágil:</font></b>
                </p>

                <p align="right"><font face="Arial" size="2">A proposta da Visão Ágil é ser mais do que uma revista,<br>
                    acreditamos que a colaboração ativa e democrática entre nossa equipe editorial e os nossos leitores
                    é importante para
                    o sucesso de nossa revista, por isso,
                    para garantir esses fatores, é importante que você faça o cadastro em nosso grupo de usuários <b>Visão
                        Ágil do Yahoo Groups.</b>
                    <br>
                    Dessa forma, você poderá: acessar as edições da revista, participar de nossas enquetes, ter accesso
                    a materiais exclusivos,
                    interagir com outros leitores agilistas, trocar experiências, compartilhar dúvidas e impressões
                    sobre
                    os temas abordados nas edições da revista. Então, para realizar esse cadastro completo
                    <a href="http://br.groups.yahoo.com/group/visaoagil/"> Clique aqui.</a>
                    <br>
                    <br>
                    Ou, usando o campo abaixo, faça gratuitamente a inscrição simplificada em nosso grupo, apenas
                    informando seu e-mail, em seguida entraremos em
                    contato para continuar seu processo de associação.
                    <br>

                    <form method="get" action="http://br.groups.yahoo.com/subscribe/visaoagil">
                        <table cellspacing="0" cellpadding="2" border="0">
                            <tr>
                            <tr>
                                <td>
                                    <font face="Arial" size="2">
                                        Endereço e-mail:
                                    </font>
                                </td>
                            </tr>
                            <td>

                                <input type="text" name="user" size="40">
                            </td>
                            <td>
                                <input type="submit" value="Enviar"/>
                            </td>
                            </tr>
                        </table>
                    </form>

                </font>
            </td>
        </tr>
    </table>
    <br/>
    <br/>
</div>
{%endblock %}